Source: ros-lyrical-ros2launch
Section: misc
Priority: optional
Maintainer: Aditya Pande <aditya.pande@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-lyrical-ament-copyright <!nocheck>, ros-lyrical-ament-flake8 <!nocheck>, ros-lyrical-ament-pep257 <!nocheck>, ros-lyrical-ament-xmllint <!nocheck>, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/ros2launch/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-ros2launch
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-lyrical-ament-index-python, ros-lyrical-launch, ros-lyrical-launch-ros, ros-lyrical-launch-xml, ros-lyrical-launch-yaml, ros-lyrical-ros2cli, ros-lyrical-ros2pkg, ros-lyrical-ros-workspace
Description: The launch command for ROS 2 command line tools.
