Source: ros-rolling-launch-testing-ros
Section: misc
Priority: optional
Maintainer: Aditya Pande <aditya.pande@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libstd-msgs-dev <!nocheck>, python3-ament-copyright <!nocheck>, python3-ament-flake8 <!nocheck>, python3-ament-pep257 <!nocheck>, python3-pytest <!nocheck>, python3-std-msgs <!nocheck>, ros-std-msgs <!nocheck>, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-launch-testing-ros
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-ament-index, ros-rolling-launch-ros, ros-rolling-launch-testing, ros-rolling-rclpy, ros-rolling-ros-workspace
Description: A package providing utilities for writing ROS2 enabled launch tests.
